
  body {
    background-color: #628395;
  }

  hr {
    border-style:none;
    border-top-style: dotted;
    border-color: #262A53;
    border-width:5px;
    width:10%;
  }

h1{
  color: #FFA0A0
}

h3{
   color: #FFA0A0
}
